@using System.Text.Json; 

@{
    ViewData["Title"] = "Home Page";
    var apiResponse = ViewData["apiResult"] as APIModel;

    

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Transactions</h2>
  
    @apiResponse;
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
