@using System.Text.Json;
@using Laboration2MVC.Models;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Välkommen till Stuxnets bank!</h1>
    <h2>
        <a asp-controller="API" asp-action="TransactionView">
            Klicka här för att ta dig till din transaktionshistorik

        </a>
    </h2>

</div>
