@model Laboration2MVC.Models.EditViewModel

@{
    ViewData["Title"] = "Edit View";
    TempData["Message"] = "Database Operations status";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditView</title>
    <!-- Removed the <script> tag since it's no longer needed -->
</head>
<body>
    <h4>Edit Category</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditView" method="post">
                <div class="form-group">
                    <label for="originalCategoryDropdown">Select Original Categories(Use ctrl while clicking to add more than one category):</label>
                    <select id="originalCategoryDropdown" name="CustomCategory.OriginalCategories" class="form-control" multiple size="5">
                        @foreach (var reference in Model.ReferenceList)
                        {
                            <option value="@reference.Reference">@reference.Reference</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="CustomCategory.NewCategory" class="control-label"></label>
                    <input asp-for="CustomCategory.NewCategory" class="form-control" required placeholder="Ange ny kategori" />
                </div>

                <button type="submit" class="btn btn-primary">Save Categories</button>
            </form>
        </div>
    </div>

    <a asp-controller="API" asp-action="TransactionView">
        Återvänd till transaktioner
    </a>
</body>
</html>